<section id="content">
    <div class="content-wrap pt-0">

        <div id="section-about" class="section page-section m-0">

            <div class="container clearfix">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="heading-block border-bottom-0 bottommargin-sm">
                            <h3 class="cookie-font text-capitalize color">About Us</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, libero voluptas iusto quo illum quam possimus provident, deserunt est minima quisquam amet magnam animi? Enim adipisci facilis voluptas odit! Facilis rerum ipsam modi perspiciatis exercitationem explicabo, tempore soluta culpa cupiditate!</p>
                    </div>
                    <div class="col-lg-6">
                        <img class="bottommargin-lg mx-auto img-fluid" src="demos/spa/images/others/1.png" alt="Image">
                    </div>
                </div>
                <div class="row">
                    <div *ngFor="let about of abouts; index as i" class="col-lg-4 bottommargin">
                        <div class="feature-box fbox-plain" data-animate="fadeIn" [attr.data-delay]="i * 300">
                            <div class="fbox-icon">
                                <a href="#"><i [class]="about.icon"></i></a>
                            </div>
                            <div class="fbox-content">
                                <h3>{{ about.title }}</h3>
                                <p>{{ about.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section m-0 clearfix" style="background: #FFF url('demos/spa/images/others/2.jpg') no-repeat top left;">

            <div class="container clearfix">
                <div class="row">
                    <div class="col-lg-7 offset-lg-5">
                        <div class="heading-block border-0 bottommargin-sm">
                            <h3>Beautiful Service.</h3>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam cupiditate, libero pariatur aliquam vitae deserunt esse assumenda, tenetur veritatis, nihil consectetur facilis!</p>

                        <div class="row justify-content-center col-mb-30 mt-4 mb-0">
                            <div *ngFor="let counter of counters; index as i" class="col-sm-6 col-md-4 text-center">
                                <i [attr.class]="'spa-' + counter.icon + ' i-plain i-large mx-auto mb-0'" style="color: #D2D2D2;"></i>
                                <div class="counter ls1 fw-semibold" style="color: #777; margin-top: 10px;"><span [attr.data-from]="counter.from" [attr.data-to]="counter.to" data-refresh-interval="50" [attr.data-speed]="2000 + i * 500">{{ counter.to }}</span></div>
                                <h5>{{ counter.title }}</h5>
                            </div>
                        </div>

                    </div>

                    <div class="row justify-content-center col-mb-50">
                        <div *ngFor="let featureBox of featureBoxes; index as i" class="col-sm-6 col-md-4 text-center">
                            <div class="feature-box media-box">
                                <div class="fbox-media" style="padding: 0 40px;">
                                    <a href="#"><img class="rounded-circle img-thumbnail" [src]="'demos/spa/images/services/' + (i + 1) + '.jpg'" alt="Why choose Us?"></a>
                                </div>
                                <div class="fbox-content">
                                    <h3>{{ featureBox.title }}<span class="subtitle cookie-font">{{ featureBox.subTitle }}</span></h3>
                                    <p>{{ featureBox.description }}</p>
                                    <a href="#" class="button button-rounded" style="margin: 20px 0 0 0;">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-wrap d-block d-lg-none d-xl-none">
                <div class="video-overlay" style="background: rgba(255,255,255,0.9);"></div>
            </div>
        </div>

        <a href="#" class="button button-full center">
            <div class="container clearfix">
                Book your visit online and save upto 25% Discount
            </div>
        </a>

        <div id="section-price" class="section m-0 page-section bg-transparent">
            <div class="container clearfix">

                <div class="heading-block center bottommargin">
                    <h3 class="cookie-font text-capitalize color">Our Price</h3>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut officiis eum suscipit officia modi autem fuga odio, animi minus cumque.</span>
                </div>

                <div class="tabs tabs-responsive clearfix" id="tab-1" data-accordion-style="accordion accordion-bg">

                    <ul class="tab-nav center tab-nav2 bottommargin clearfix">
                        <!-- <li *ngFor="let nav of tabNavs; index as i"><a [href]="'#tabs-' + (i + 1)">{{ nav }}</a></li> -->
                        <li><a href="#tabs-1">Spa Therapy</a></li>
                        <li><a href="#tabs-2">Beauty Facial</a></li>
                        <li><a href="#tabs-3">Body Wrap</a></li>
                        <li><a href="#tabs-4">Body Scrubs</a></li>
                    </ul>

                    <div class="tab-container">
                        <div *ngFor="let tab of tabs" class="tab-content clearfix" [attr.id]="'tabs-' + tab.id">
                            <div class="row">
                                <div *ngFor="let content of tab.tabContents" class="col-lg-6 service-wrap">
                                    <div class="service-header">
                                        <div class="service-name">
                                            <a href="#">{{ content.name }}</a>
                                        </div>
                                        <div class="service-dots">
                                            <span class="separator-dots"></span>
                                        </div>
                                        <div class="service-price color">{{ content.price }}</div>
                                    </div>
                                    <p class="service-desc">{{ content.description }}</p>
                                </div>
                                <div *ngIf="tab.id % 2 === 0" class="w-100"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="center"><img class="img-responsive" src="demos/spa/images/others/bg-tab.jpg" alt="Image"></div>
            </div>
        </div>

        <section id="section-testimonials" class="section parallax mb-0 page-section dark" style="background-image: url('demos/spa/images/others/bg-testimonials.jpg'); padding: 140px 0; background-size: cover"  data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
            <div class="container clearfix">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="heading-block border-bottom-0">
                            <h3>Testimonials</h3>
                        </div>

                        <div class="fslider restaurant-reviews" data-arrows="false" data-animation="slide">
                            <div class="flexslider">
                                <div class="slider-wrap">
                                    <div *ngFor="let slider of sliders" class="slide">
                                        <p class="lead">{{ slider.description }}</p>
                                        <span class="font-primary"><strong>{{ slider.name }}</strong>, {{ slider.locationName }}</span><br>
                                        <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="section-contact" class="section m-0 pb-0 bg-transparent page-section">
            <div class="row clearfix">
                <div class="col-md-5 offset-md-1 col-10 col-offset-1">
                    <div class="heading-block border-bottom-0 bottommargin-sm">
                        <h3 class="cookie-font text-capitalize color">Reserve Now</h3>
                    </div>

                    <div class="form-widget">
                        <div class="form-result"></div>
                        <form class="row mb-0" id="template-contactform" name="template-contactform" action="include/form.php" method="post">

                            <div class="form-process">
                                <div class="css3-spinner">
                                    <div class="css3-spinner-scaler"></div>
                                </div>
                            </div>

                            <div class="col-md-6 form-group">
                                <label for="template-contactform-name">Name <small>*</small></label>
                                <input type="text" id="template-contactform-name" name="template-contactform-name" value="" class="sm-form-control required" />
                            </div>

                            <div class="col-md-6 form-group">
                                <label for="template-contactform-phone">Phone</label>
                                <input type="text" id="template-contactform-phone" name="template-contactform-phone" value="" class="sm-form-control" />
                            </div>

                            <div class="w-100"></div>

                            <div class="col-12 form-group">
                                <label for="template-contactform-email">Email <small>*</small></label>
                                <input type="email" id="template-contactform-email" name="template-contactform-email" value="" class="required email sm-form-control" />
                            </div>

                            <div class="col-12 form-group">
                                <label for="template-contactform-message">Message <small>*</small></label>
                                <textarea class="required sm-form-control" id="template-contactform-message" name="template-contactform-message" rows="6" cols="30"></textarea>
                            </div>

                            <div class="col-12 form-group d-none">
                                <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
                            </div>

                            <div class="col-12 form-group">
                                <button class="button button-3d m-0" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Send Message</button>
                            </div>

                            <input type="hidden" name="prefix" value="template-contactform-">

                        </form>

                    </div>
                </div>
                <div class="col-md-6">
                    <img class="topmargin" src="demos/spa/images/others/3.jpg" alt="Image">
                </div>
            </div>
        </section>

    </div>
</section>